@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}


.offset:before {
  height: 4rem;
  margin-top: -4rem;
  content: "";
  display: block;
}


[class*="col-"] {
  padding: 1rem;
}



.navbar {
  padding: .7rem 1rem;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .1rem;
  transition: background-color .5s ease 0s;
}
.navbar-brand img {
  height: 2rem;
}

.svg-inline--fa.fa-w-14 {
  color: white;
  font-size: 1.6rem;
}

.navbar-nav li {
  padding-right: .8rem;
}
.navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}


.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #1ebba3;
}
.navbar.solid {

  background: rgba(0, 0, 0, 0.7)!important;
  transition: background-color 1s ease 0s;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
}
.caption h1 {
  color: white;
  font-size: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3 {
  color: white;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 2rem;
}

.caption h4 {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 2rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .8rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block!important;
}



.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-sm {
  border-width: medium;
  border-radius: 0;

  padding: .5rem 1.1rem;
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 1rem;
}
.btn-turquoise {
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}

.btn-turquoise:hover,
.btn-turquoise:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}
.jumbotron {
  margin-bottom: 0;
  border-radius: 0;

  padding: 1rem 0 3rem;
}
h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.9rem;
}
.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color: #1EBBA3;

  margin: 0 auto 2rem;
}
.feature {
  text-align: center;
}
.feature .fa-layers {
  color: #1EBBA3;
  margin: 0 auto;
  width: 3.9rem;
  height: 6rem;
}
.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.feature p {
  font-size: 1.1rem;
}




#fixed {
  background-image: url('/public/img/fixed/server.jpg');
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 7rem 2rem;
  text-align: center;
  z-index: 1000!important;
}
.dark h3, .dark p {

  color: #E9ECEF;
}



.row.padding {

  padding: 2rem 0 1rem;
}
img.example-image {
  max-width: 100%;
}


.row.no-padding [class*=col-] {
  padding: 0;
}
.home-products-img img:hover {
  transform: scale(1.3);
  cursor: zoom-in;
}
.home-products-img img {
  transition: transform .4s ease;
}
.home-products-img {
  overflow: hidden;
}



.pricing-column {
  background-color: white;
  padding: 2rem;
  border-top: .2rem solid #1ebba3;

  box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.075);
  transition: transform .7s ease;
  overflow: hidden;
  position: relative;
}
.pricing-column:hover {
  transform: scale(1.1);
}
.pricing-column h3 {
  padding: 1rem;
  border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}
.pricing-column p {
  opacity: .8;
  margin-top: 1.3rem;
}
.pricing-column h4 {
  font-size: 1.1rem;
  padding: .4rem;
}
.pricing-column .item {
  font-weight: 700;
}
.pricing-column h1 {

  padding: .8rem 0;
}

.ribbon {
  background-color: #6c757d;
  color: white;
  width: 10rem;
  height: 2rem;
  font-size: .8rem;
  font-weight: 700;
  padding-top: .4rem;
  position: absolute;
  right: -2.8rem;
  top: 1.6rem;
  transform: rotate(45deg);

  box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.25);
}


#fixed-2 {
  background-image: url('/public/img/fixed/key.jpg');
  z-index: -1;
}
.light {
  background-color: rgba( 255, 255, 255, .85);

  padding: 3rem 2rem 2rem;
  z-index: 1000!important;
}

.owl-dot.active span,
.owl-dot:hover span {
  background: #1ebba3!important;
}



.skill h3 {
  color: #1EBBA3;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0 .5rem;
}
.skill p {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
}



.clients img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform .3s ease;
}
.clients img:hover {
  transform: scale(0.95);
}
blockquote .svg-inline--fa {
  margin: 1rem;
  color: #1EBBA3;
}
.clients-hr {
  border-top: .05rem solid #1EBBA3;
}



footer {

  background: url('/public/img/footer/security.png') no-repeat;

  background-size: auto;
  color: white;
}
footer .row {
  background-color: rgba(57, 63, 70, 0.85);

  padding: 1rem 2rem 3rem;
}
footer img {
  height: 2rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;

  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: #1ebba3!important;
}
footer h3 {
  text-transform: uppercase;
  margin: 1.5rem 0;
}

.form-group {
  margin-bottom: 1.3rem;
}
.form-control {
  background-color: #53595f;
  border-radius: 0;
  border: .15rem solid #666b71;

  color: white!important;
  font-size: 1.1rem;
}
.form-control:focus {
  background: #53595f;
  border: .15rem solid #666b71;
}

#form_name, #form_email, #form_message {
  background-color: transparent;

  box-shadow: none;
}
#form_name:focus, #form_name:focus, #form_name:focus {
  background-color: transparent;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #b2b5b8!important;
}

input.btn {
  cursor: pointer;
}

hr.socket {
  border-top: .2rem solid #666b71;
  width: 100%;
}


.top-scroll svg.svg-inline--fa {
  font-size: 3rem;
  height: 1.7rem;
  color: #53595f;
  background: white;
}
.top-scroll {
  right: 1.2rem;
  bottom: 1.2rem;
  position: fixed;
  opacity: .3;
  z-index: 1000;
  display: none;
  cursor: pointer;
}
.top-scroll:hover {
  opacity: .5;
}




@media (max-width: 991px) {
  .caption h1 {
    font-size: 3.5rem;
    letter-spacing: .2rem;
    padding-bottom: .8rem;
  }
  .caption h3 {
    font-size: 2.2rem;
    padding-bottom: 1.7rem;
  }
  .btn-lg {
    padding: .7rem 1.2rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 2.1rem;
  }
}


@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.7rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
  .caption h3 {
    font-size: 1.7rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: .6rem 1.1rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.8rem;
  }
  #fixed {
    background-image: url('/public/img/fixed/server.jpg');
  }
  #fixed-2 {
    background-image: url('/public/img/fixed/server.jpg');
  }
  footer {
    background: url('/public/img/footer/security.png') no-repeat;
  }
  .clients img {
    max-width: 50%;
    margin: 0 auto;
  }
}


@media (max-width: 575px) {
  .caption h1 {
    font-size: 1.9rem;
    letter-spacing: .1rem;
    padding-bottom: .4rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .btn-lg {
    padding: .4rem .9rem;
    font-size: .9rem;
  }
  .narrow {
    width: 85%;
  }
}

.grid {
	max-width: 114.0rem;
	margin: 0 auto;
}

.column {
    float: left;
    padding: 0 10px;
    margin: 0 auto;
}


.col_child { margin: 0 -10px; }


.column_1_12 { width: 8.33333%; }
.column_2_12 { width: 16.66667%; }
.column_3_12 { width: 25%;}
.column_4_12 { width: 33.33333%;}
.column_5_12 { width: 41.66667%;}
.column_6_12 { width: 50%; }
.column_7_12 { width: 58.33333%; }
.column_8_12 { width: 66.66667%; }
.column_9_12 { width: 75%; }
.column_10_12 { width: 83.33333%; }
.column_11_12 { width: 91.66667%; }
.column_12_12 { width: 100%; }

.clear_fix { clear: both; }

.flexbox {
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
}

.flexbox .column {
	float: none;
}

.grid.text_grid_overlay {
	display: none;
	position: fixed;
	top: 0; left: 0; right: 0;
	margin: 0 auto;
	height: 100%;
}

.grid.text_grid_overlay .column_1_12 {
	height: 100%;
	position: relative;
	background: transparent;
}

.grid.text_grid_overlay .column_1_12 span {
	display: block;
	height: 100%;
	background: rgba(255, 0, 0,0.8);
}

@media only screen and (max-width: 1140px) {
	.grid {
		margin: 0 10px;
	}
}

@media only screen and (max-width: 960px) {

    .column, .flexbox_col { width: 100%; }

    .flexbox {
    	display: block;
    }

}

 .toast-title{font-weight:700}.toast-message{-ms-word-wrap:break-word;word-wrap:break-word}.toast-message a,.toast-message label{color:#FFF}.toast-message a:hover{color:#CCC;text-decoration:none}.toast-close-button{position:relative;right:-.3em;top:-.3em;float:right;font-size:20px;font-weight:700;color:#FFF;-webkit-text-shadow:0 1px 0 #fff;text-shadow:0 1px 0 #fff;opacity:.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);filter:alpha(opacity=80);line-height:1}.toast-close-button:focus,.toast-close-button:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);filter:alpha(opacity=40)}.rtl .toast-close-button{left:-.3em;float:left;right:.3em}button.toast-close-button{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}.toast-top-center{top:0;right:0;width:100%}.toast-bottom-center{bottom:0;right:0;width:100%}.toast-top-full-width{top:0;right:0;width:100%}.toast-bottom-full-width{bottom:0;right:0;width:100%}.toast-top-left{top:12px;left:12px}.toast-top-right{top:12px;right:12px}.toast-bottom-right{right:12px;bottom:12px}.toast-bottom-left{bottom:12px;left:12px}#toast-container{position:fixed;z-index:999999;pointer-events:none}#toast-container *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#toast-container>div{position:relative;pointer-events:auto;overflow:hidden;margin:0 0 6px;padding:15px 15px 15px 50px;width:300px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-position:15px center;background-repeat:no-repeat;-moz-box-shadow:0 0 12px #999;-webkit-box-shadow:0 0 12px #999;box-shadow:0 0 12px #999;color:#FFF;opacity:.8;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);filter:alpha(opacity=80)}#toast-container>div.rtl{direction:rtl;padding:15px 50px 15px 15px;background-position:right 15px center}#toast-container>div:hover{-moz-box-shadow:0 0 12px #000;-webkit-box-shadow:0 0 12px #000;box-shadow:0 0 12px #000;opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);filter:alpha(opacity=100);cursor:pointer}#toast-container>.toast-info{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=)!important}#toast-container>.toast-error{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=)!important}#toast-container>.toast-success{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==)!important}#toast-container>.toast-warning{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=)!important}#toast-container.toast-bottom-center>div,#toast-container.toast-top-center>div{width:300px;margin-left:auto;margin-right:auto}#toast-container.toast-bottom-full-width>div,#toast-container.toast-top-full-width>div{width:96%;margin-left:auto;margin-right:auto}.toast{background-color:#030303}.toast-success{background-color:#51A351}.toast-error{background-color:#BD362F}.toast-info{background-color:#2F96B4}.toast-warning{background-color:#F89406}.toast-progress{position:absolute;left:0;bottom:0;height:4px;background-color:#000;opacity:.4;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);filter:alpha(opacity=40)}@media all and (max-width:240px){#toast-container>div{padding:8px 8px 8px 50px;width:11em}#toast-container>div.rtl{padding:8px 50px 8px 8px}#toast-container .toast-close-button{right:-.2em;top:-.2em}#toast-container .rtl .toast-close-button{left:-.2em;right:.2em}}@media all and (min-width:241px) and (max-width:480px){#toast-container>div{padding:8px 8px 8px 50px;width:18em}#toast-container>div.rtl{padding:8px 50px 8px 8px}#toast-container .toast-close-button{right:-.2em;top:-.2em}#toast-container .rtl .toast-close-button{left:-.2em;right:.2em}}@media all and (min-width:481px) and (max-width:768px){#toast-container>div{padding:15px 15px 15px 50px;width:25em}#toast-container>div.rtl{padding:15px 50px 15px 15px}}